@font-face {
    font-family: Aller;
    src: url(../assets/fonts/Aller_Lt.ttf);
    font-weight: normal;
}

html {
	height: 100%;
}

body {
	font-family: Aller; 
	text-align: center;
	background-color: #B1CFD3;
	height: 100%;
}

h1 {
	margin-bottom: 0em;
	font-size: 6em;
}

h2 {
	margin-bottom: 2em;
	font-size: 3em;
}

hr {
	margin-top: 0em;
	border-width: 0.8em;
}

input {
	border: 2px solid white;
	border-right: none;
}

.container {
    margin-top: 6%;
    min-height: 100%;
	margin-bottom: -10em;
}

.footer, .push {
	margin-top: 1em;
	height: 4em;
}

.btn-default {
	height: 3em;
	border: none;
}

.form-control {
	font-size: 1.5em;
	height: 2em;
}


.blue-background {
	background-color: #99CCCC;
}

.btn-default {
	background-image: none;
	text-shadow: 0px;
	border-color: transparent;
	box-shadow: none;
}

.form-control, .form-control:focus {
	box-shadow: none;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.retry {
	cursor: pointer;
}

#confirmation {
	opacity: 0;
	position: relative;
	top: -4em;
}

#email-box {
	position: relative;
}

@keyframes showConfirmation {
    0%   {top:-4em; opacity: 0;}
    100% {top: -5em; opacity: 1;}
}

@keyframes hideConfirmation {
    0%   {top:-5em; opacity: 1;}
    100% {top: -4em; opacity: 0;}
}

@keyframes showEmailBox {
    0%   {top:1em; opacity: 0;}
    100% {top:0em; opacity: 1;}
}

@keyframes hideEmailBox {
    0%   {top:0em; opacity: 1;}
    100% {top:1em; opacity: 0;}
}

@media screen 
   and (min-device-width : 480px) 
   and (max-device-width : 768px) {

	body {
		font-size: 13px;
	}
}

@media screen and (max-device-width : 480px) {
	body {
		font-size: 10px;
	}

	.btn-default {
		height: 2.5em;
	}
}

@media screen 
   and (min-device-width : 480px) 
   and (max-device-width : 768px) {

   	body {
		font-size: 12px;
	}

	.btn-default {
		height: 2.5em;
	}
}