@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);

body {
	font-family: 'Quicksand', sans-serif;
}

hr {
	margin-top: 0;
	border-width: 0.3em;
	border-color: #212121;
}

h1 {
	font-weight: bold;
}

.navbar-default {
	background-image: url("");
	opacity: 0.9;
}

.red {
	color: #E36965;
	border-color: #E36965;
}

.green {
	color: #6EC0A4;
	border-color: #6EC0A4;
}

.blue {
	color: #6085C4;
	border-color: #6085C4;
}

.red-background {
	background-color: #E36965;
}

.green-background {
	background-color: #6EC0A4;
}

.blue-background {
	background-color: #6085C4;
}

.home-section {
	margin-bottom: 5em;
}

.carousel-background {
	color: #ffffff;
	width: 100%;
	padding-bottom: 1em;
	padding-top: 2em;
	margin-bottom: 1em;
}

.carousel-project-logo {
	width: 300px;
	height: 300px;
	margin-bottom: 2em;
}

.item a:hover {
	text-decoration:underline;
	color: white;
}

/******** Twitter Bootstrap Customization ********/
.carousel-control {
	text-shadow: none;
}

.carousel-control.left, .carousel-control.right {
	background-image:url("");
}