Redirect 301 /projects/u2sGRsnXxCLEzzcH4/blog  http://univership.org/george/#project/hackerinresidence
Redirect 301 /projects/KFF7EWXodEGzgGhps/blog  http://univership.org/george/#project/ucdexploration
Redirect 301 /projects/qDM2dZP5F5MZ5zgMA/blog  http://univership.org/george/#project/semanticweb
Redirect 301 /projects/rwXGB6hGdSm4YqbZu/blog  http://univership.org/george/#project/combatcontrol
Redirect 301 /projects/pPmiPtwwyto83AdNJ/blog  http://univership.org/george/#project/emotionaldesign
Redirect 301 /projects/aJAsxvdEf3rr3yKik/blog  http://univership.org/george/#project/jsonsilo
Redirect 301 /projects/xhnCxJg79giBCPBpi/blog  http://univership.org/george/#project/agrockathon
