Redirect 301 /univership/projects/u2sGRsnXxCLEzzcH4/blog/  http://gcool.info/univership/#project/hackerinresidence
Redirect 301 /univership/projects/KFF7EWXodEGzgGhps/blog/  http://gcool.info/univership/#project/ucdexploration
Redirect 301 /univership/projects/qDM2dZP5F5MZ5zgMA/blog/  http://gcool.info/univership/#project/semanticweb
Redirect 301 /univership/projects/rwXGB6hGdSm4YqbZu/blog/  http://gcool.info/univership/#project/combatcontrol
Redirect 301 /univership/projects/pPmiPtwwyto83AdNJ/blog/  http://gcool.info/univership/#project/emotionaldesign
Redirect 301 /univership/projects/aJAsxvdEf3rr3yKik/blog/  http://gcool.info/univership/#project/jsonsilo
