<template name="header">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<div class="trigger-header"></div>
	<div class="header">
		<a href="{{pathFor 'home'}}"><div class="logo">
			<img class="svg" src="/general_logos/logo.svg" alt="Univerhip, studies designed by you." />
		</div></a>
		<a href="{{pathFor 'univernPage' _id=getGeorge}}" class="menu-title">GEORGE'S UNIVERSHIP</a>
		<div class="menu-title">JOIN US</div>
		<div class="social icons">
			<a href=""><i class="fa fa-envelope"></i></a>
			<a href=""><i class="fa fa-facebook"></i></a>
			<a href=""><i class="fa fa-twitter"></i></a>
		</div>
		<div class="social navbar">
			<i class="fa fa-bars"></i>
		</div>
	</div>
	<div class="phone-social-header social icons">
		<a href=""><i class="fa fa-envelope"></i></a>
		<a href=""><i class="fa fa-facebook"></i></a>
		<a href=""><i class="fa fa-twitter"></i></a>
	</div>
</template>