<template name="header">
	<div class="header">
		<div class="logo">
			<img class="svg" src="/general_logos/logo.svg" alt="Univerhip, studies designed by you." />
		</div>
		<a href="{{pathFor 'univernPage' _id=george._id}}" class="menu-title">GEORGE'S UNIVERSHIP</a>
		<div class="menu-title">JOIN US</div>
		<div class="social">
			<a href=""><i class="fa fa-envelope"></i></a>
			<a href=""><i class="fa fa-facebook"></i></a>
			<a href=""><i class="fa fa-twitter"></i></a>
		</div>
	</div>
</template>