<template name="header">
	<div class="header" id="myMenu">
		<div class="trigger-header">
			<i class="fa fa-bars"></i>
		</div>
		<a href="{{pathFor 'home'}}" class="logo menu-link menu-item hide-submenu" id="home">
			<img class="svg" src="/general_logos/logo.svg" alt="Univerhip, studies designed by you." />
		</a>
		<h4 class="hide-submenu">
			<a href="{{pathFor 'home'}}" class="menu-item" id="definition">What is it?</a>
		</h4>
		<h4 class="show-submenu" id="introduction">
			<a href="{{pathFor 'univernPage' _id=getGeorge}}" class="menu-item">The first Univern</a>
		</h4>
		<div class="first-univern">
			<h5 id="skills">
				<a href="{{pathFor 'univernPage' _id=getGeorge}}" class="menu-item">Skills Chosen</a>
			</h5>
			<h5 id="people">
				<a href="{{pathFor 'univernPage' _id=getGeorge}}" class="menu-item">People Met</a>
			</h5>
			<h5 id="group-projects">
				<a href="{{pathFor 'univernPage' _id=getGeorge}}" class="menu-item">Group Projects</a>
			</h5>
			<h5 id="placements">
				<a href="{{pathFor 'univernPage' _id=getGeorge}}" class="menu-item">Placements</a>
			</h5>
			<h5 id="individual-projects">
				<a href="{{pathFor 'univernPage' _id=getGeorge}}" class="menu-item">individual projects</a>
			</h5>
			<h5 id="work">
				<a href="{{pathFor 'univernPage' _id=getGeorge}}" class="menu-item">Wanna work together?</a>
			</h5>
		</div>
		<h4>
			<a href="{{pathFor 'helpdesk'}}" class="menu-item">Join in!</a>
		</h4>
		<div class="social icons">
			<a href="mailto:{{this.emails.[0].address}}"><i class="fa fa-envelope"></i></a>
			<a href="{{this.profile.social.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
			<a href="{{this.profile.social.twitter}}"  target="_blank"><i class="fa fa-twitter"></i></a>
		</div>
	</div>
</template>