<template name="splashScreen">
	<table class="bckg-full black-wavy">
			<tr>
				<td class="splash-screen logo" ><img class="svg" src="/general_logos/logo.svg" alt="Univerhip, studies designed by you." /></td>
				<td class="splash-screen logo-letters"><img class="svg" src="/general_logos/logo_letters.svg" alt="Univerhip, studies designed by you." /></td>
			</tr>
			<tr>
				<td></td>
				<td><hr /></td>
			</tr>
			<tr>
				<td></td>
				<td class="baseline">We dream of an hands-on, global, decentralised & open-source education.</td>
			</tr>
		</table>
</template> 