<template name="projectSkills">
	<div class="project-skills">
		<h1>The skills</h1>
		<div class="explanation-block">
		{{#each getSkills}}
			{{#if getTitle 'user-centered-design'}}
				<div class="explanation-text" id="skill-1-text">
					<h3>Skill @ {{getPercentage}}</h3>
					<p>{{body}}</p>
				</div>
			{{/if}}
			{{#if getTitle 'physical-object-design'}}
				<div class="explanation-text" id="skill-2-text">
					<h3>Skill @ {{getPercentage}}</h3>
					<p>{{body}}</p>
				</div>
			{{/if}}
			{{#if getTitle 'entrepreneurship'}}
				<div class="explanation-text" id="skill-3-text">
					<h3>Skill @ {{getPercentage}}</h3>
					<p>{{body}}</p>
				</div>
			{{/if}}
			{{#if getTitle 'coding'}}
				<div class="explanation-text" id="skill-4-text">
					<h3>Skill @ {{ggetPercentage}}</h3>
					<p>{{body}}</p>
				</div>
			{{/if}}
			{{#if getTitle 'graphic-design'}}
				<div class="explanation-text" id="skill-5-text">
					<h3>Skill @ {{getPercentage}}</h3>
					<p>{{body}}</p>
				</div>
			{{/if}}
			{{#if getTitle 'communication'}}
				<div class="explanation-text" id="skill-6-text">
					<h3>Skill @ {{getPercentage}}</h3>
					<p>{{body}}</p>
				</div>
			{{/if}}
		{{/each}}
		</div>
		{{#each getSkills}}
			{{#if getTitle 'user-centered-design'}}
				<div class="skill" id="skill-1">
					<img class="logo" src="/general_logos/user-centered-design.svg" />
					<div class="text">User-centered design</div>		
				</div>
			{{/if}}
			{{#if getTitle 'physical-object-design'}}
				<div class="skill" id="skill-2">
					<img class="logo" src="/general_logos/physical-object-design.svg" />
					<div class="text">Physical object design</div>
				</div>
			{{/if}}
			{{#if getTitle 'entrepreneurship'}}
				<div class="skill" id="skill-3">
					<img class="logo" src="/general_logos/entrepreneurship.svg" />
					<div class="text">Entrepreneurship</div>
				</div>
			{{/if}}
			{{#if getTitle 'coding'}}
				<div class="skill" id="skill-4">
					<img class="logo" src="/general_logos/coding.svg" />
					<div class="text">Coding (electronics & web)</div>
				</div>
			{{/if}}
			{{#if getTitle 'graphic-design'}}
				<div class="skill" id="skill-5">
					<img class="logo" src="/general_logos/graphic-design.svg" />
					<div class="text">Graphic design</div>
				</div>
			{{/if}}
			{{#if getTitle 'communication'}}
				<div class="skill" id="skill-6">
					<img class="logo" src="/general_logos/communication.svg" />
					<div class="text">Communication</div>
				</div>
			{{/if}}
		{{/each}}
	</div>
</template>