@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

html, body {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	color: #fffff1;
}

.baseline {
	font-size: 1.5em;
	padding-left: 5%;
	padding-right: 40%;
	vertical-align: top;
	line-height: 1.5em;
}

hr {
	border: none;
	overflow: hidden;
	padding-left: 5%;
}

hr:after {
	content:"......................................";
	letter-spacing: 8px; /* Use letter-spacing to increase space between dots*/
}

.header {
	height: 4em;
	width: 100%;
	background-color: #fffff1;
	opacity: 0.2;
	position: absolute;
	top: 0;
	left: 0;
	color: #fffff1;
	position: fixed;
}

.footer {
	height:10vh;
	width: 100%;
	float: left;
	border-top: 2px solid white;
}

.bckg-full {
	width: 100%;
	height: 100vh;
	border-bottom: 2px solid white;
	display: table;
}

.bckg-half {
	width: 49.5%;
	height: 90vh;
}

.bckg-half.left {
	float: left;
}

.bckg-half.right {
	float: right;
}

.bckg-half:hover {
	background-image: url(/general_logos/bckg_wavy_red.png);
	cursor: pointer;
	-webkit-transition: background-image 0.2s ease-in-out;
	-moz-transition: background-image 0.2s ease-in-out;
	-ms-transition: background-image 0.2s ease-in-out;
	-o-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
}

.black-wavy {
	background-image: url(/general_logos/bckg_wavy_black.png);
}

.blue-wavy {
	background-image: url(/general_logos/bckg_wavy_blue.png);
}

.green-wavy {
	background-image: url(/general_logos/bckg_wavy_green.png);
}

.splash-screen.logo {
	width: 30%;
	text-align: right;
	vertical-align: bottom
}

.splash-screen.logo.container {
	padding-top: 10vh;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 4em;
}

.splash-screen.logo-letters {
	padding-left: 5%;
	vertical-align: bottom
}

.bckg-half .logo {
	text-align: center;
	vertical-align: top;
	padding-top: 30vh;
}

.bckg-half .baseline {
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	font-weight: 700;
	font-size: 2em;
	vertical-align: top;
	padding-top: 1em;
}

/* Smartphones (portrait) ----------- */
@media screen and (max-device-width: 480px) and (orientation: portrait){
	body {
		font-size: 24px;
	}

	.baseline {
		padding-right: 10%;
	}

	.splash-screen.logo .svg {
		width: 80%;
	}

	.splash-screen.logo-letters .svg {
		width: 80%;
	}
}