@import url(http://fonts.googleapis.com/css?family=Quicksand:300);

html, body {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	color: #fffff1;
}

.baseline {
	font-size: 1.5em;
	width: 14em;
	margin-left: auto;
	margin-right: auto;
}

hr {
	height: 2em;
	overflow: hidden;
	border: none;
	margin: 1em auto 1em auto;
	overflow:hidden;
	width: 20em;
}

hr:after {
	content:"......................................";
	letter-spacing: 8px; /* Use letter-spacing to increase space between dots*/
}

.header {
	height: 4em;
	width: 100%;
	background-color: #fffff1;
	opacity: 0.2;
	position: absolute;
	top: 0;
	left: 0;
	color: #fffff1;
	position: fixed;
}

.footer {
	height:10vh;
	width: 100%;
	float: left;
	border-top: 2px solid white;
}

.bckg-full {
	width: 100%;
	height: 100vh;
	border-bottom: 2px solid white;
}

.bckg-half {
	width: 49.5%;
	height: 90vh;
}

.bckg-half.left {
	float: left;
}

.bckg-half.right {
	float: right;
}

.bckg-half:hover {
	background-image: url(/general_logos/bckg_wavy_red.png);
	cursor: pointer;
	-webkit-transition: background-image 0.2s ease-in-out;
	-moz-transition: background-image 0.2s ease-in-out;
	-ms-transition: background-image 0.2s ease-in-out;
	-o-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
}

.black-wavy {
	background-image: url(/general_logos/bckg_wavy_black.png);
}

.blue-wavy {
	background-image: url(/general_logos/bckg_wavy_blue.png);
}

.green-wavy {
	background-image: url(/general_logos/bckg_wavy_green.png);
}

.splash-screen.logo {
	width: 100%;
}

.splash-screen.logo.container {
	padding-top: 10vh;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 4em;
}