@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

html, body {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	color: #fffff1;
}

h1 {
	font-size: 3em;
	line-height: 1.5em;
	width: 70%;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 6vh;
	margin-top: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 2em;
	margin-bottom: 0;
}

a {
	color: #fffff1;
	text-decoration: none;
}

p {
	font-weight: 400;
	font-size: 1.2em;
}

.play-video {
	position: absolute;
	top: 45%;
	left: 45%;
	font-size: 7em;
	color: rgb(201,0,0);
}

.play-video:hover {
	color: #242424;
	cursor: pointer;
}

.home {
	position:absolute; left: 0; right: 0; bottom: 0; top: 0px;
}

.baseline {
	font-size: 1.5em;
	padding-left: 5%;
	padding-right: 40%;
	vertical-align: top;
	line-height: 1.5em;
}

hr {
	border: none;
	overflow: hidden;
	padding-left: 5%;
}

hr:after {
	content:"......................................";
	letter-spacing: 8px; /* Use letter-spacing to increase space between dots*/
}

.scroll-explanation {
	position: absolute;
	bottom: 10px;
	left: 49%;
}

.scroll-explanation .text {
	font-weight: 700;
	opacity: 0;
}

.start-arrow.fa {
	font-size: 3em;
}

.start-arrow.fa:hover {
	color: #5A8AE2;
	cursor: pointer;
}

.start-arrow.fa:hover + .text {
	opacity: 1;
}

.header {
	height: 6vh;
	width: 100%;
	background-color: #242424;
	opacity: 0.8;
	position: absolute;
	top: 0;
	left: 0;
	color: #fffff1;
	z-index: 100;
}

.trigger-header {
	opacity: 0;
	height: 6vh;
	width: 100%;
	background-color:white; 
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

.header .logo {
	height: 100%;
	float: left;	
	margin-left: 1em;
}

.header .logo .svg {
	height:90%;
}

.phone-social-header.social.icons {
	display: none;
	background-color: #242424;
	position: absolute;
	top: 6vh;
	right: -500px;
	z-index: 100;
	margin: 0;
	opacity: 0.8;
	padding-right: 10%;
	padding-bottom: 3%;
}

.footer {
	height:10vh;
	width: 100%;
	border-top: 2px solid white;
}

.bckg-full {
	width: 100%;
	height: 100vh;
}

.bckg-half {
	width: 100%;
	height: 45vh;
}

.bckg-full.video {
	background: url(/people_photos/george_koulouris.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bckg-half:hover {
	opacity: 0.6;
	color: #242424;
	cursor: pointer;
	-webkit-transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;
}

.black-wavy {
	background-image: url(/general_logos/bckg_wavy_black.png);
}

.blue-wavy {
	background-image: url(/general_logos/bckg_wavy_blue.png);
}

.green-wavy {
	background-image: url(/general_logos/bckg_wavy_green.png);
}

.red-wavy {
	background-image: url(/general_logos/bckg_wavy_red.png);
}

.grey-wavy {
	background-image: url(/general_logos/bckg_wavy_grey.png);
}

.splash-screen {
	text-align: center;
}

.splash-screen hr {
	padding-left: 0;
	font-size: 2em;
	margin-bottom: 2em;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.splash-screen .baseline {
	font-size: 2em;
	padding: 0;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.splash-screen .logo {
	width: 100%;
	padding-top: 10vh;
	margin-left: auto;
	margin-right: auto;
}

.splash-screen .logo img {
	width: 30%;
}

.bckg-half .logo {
	padding-top: 6vh;	
	float: left;
	padding-left: 5%;
	width: 20%;
	margin-right: 2em;
}

.bckg-half .logo img {
	width: 100%;
}


.bckg-half .baseline {
	font-size: 4em;
	margin: 0;
	width: 70%;
	padding-top: 6vh;
	color: #242424;
	border-bottom: 1px solid #fffff1;
}

.short-description-home {
	float: right;
	table-layout: fixed;
}

.short-description-home .line {
	text-align: left;
	margin-left: 0;
	padding-left: 0;
	width: 15%;	
}

.short-description-home .text {
	font-weight: 400;
	font-size: 1.5em;
	text-align: left;	
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 15px solid #fffff1;
	margin: 0 auto 1em auto;
}

.short-description {
	height: 45%;
	margin-top: 0;
}

.short-description-home .icon{
	width: 40%;
	text-align: center;
}

.short-description-home .fa {
	font-size: 3em;
}

.short-description-home .line {
	text-align: left;
}

.explanation {
	table-layout: fixed;
}

.logo-section {
	vertical-align: middle;
}

.explanation .logo-section {
	width: 55%;
	padding-left: 10%;
}

.explanation .description {
	text-align: left;
	padding-left: 1%;
	vertical-align: top;
}

.explanation .logo-section .top {
	width: 100%;
}

.explanation .logo-section .middle {
	width: 100%;
}

.explanation .logo-section .bottom {
	width: 100%;
}

.explanation .title {
	margin-bottom: 0;
}

.explanation .body {
	width: 70%;
	font-size: 1em;
}

.explanation hr {
	padding: 0;
	margin-top: 0;
	margin-left: 0;
	width: 90%
}

.explanation .title h1 {
	margin-bottom: 0;
	padding: 0;
}

.mfp-fade.mfp-bg {
	opacity: 0.001; /* Chrome opacity transition bug */
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

.menu-title {
	font-size: 1.9vh;
	margin-top: 1.5vh;
	padding-left: 2em;
	float: left;
	font-weight: 700;
}

.menu-title:hover {
	color: #5A8AE2;
	cursor: pointer;
}

.social {
	float: right;
	margin-right: 1em;
}

.social .fa {
	float: left;
	font-size: 3vh;
	margin-top: 1.5vh;
	padding-left: 2em;
	color: #fffff1;
}

.social .fa:hover {
	color: #5A8AE2;
	cursor: pointer;
}

.univernIntroduction h1 {
	text-align: center;
	padding: 6vh 0 0 0;
	margin: 0;
	width: 100%;
	color: #242424;
}

.univernIntroduction h2 {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	font-weight: 400;
	margin-top: 20vh;
	text-align: justify;
	color: #242424;
}

.univernIntroduction .logo {
	text-align: center;
}

.fp-controlArrow.fp-next {
	border-color: transparent transparent transparent #242424;
}

.univernSkills .skill {
	width: 25%;
	height: 30%;
	margin-left: 5%;
	margin-bottom: 5%;
	float: left;
	cursor: pointer;
	text-align: center;
}


.univernSkills .logo {
	margin-top: 1em;
	height: 60%;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.univernSkills .text {
	font-size: 1.5em;
	font-weight: 700;
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.univernSkills .explanation-block {
	margin-left: 5%;
	position: absolute;
	width: 25%;
	height: 30%;
	left: -500px;
	background-color: rgba(0,0,0,0.9);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.univernSkills .explanation-text {
	position: absolute;
	width: 90%;
	height: 90%;
	margin: 5%;
	}

.univernSkills .explanation-text h3 {
	margin: 0;
}

.social.navbar {
	display: none;
}

.slide.amazingPeople {  
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

.amazingPeople .fp-tableCell {
	vertical-align: top;
	height: auto;
}

.amazingPeople .title {
	margin-left: 5%;
}

.amazingPeople .title h3 {
	margin-bottom: 0;
	padding-bottom: 0;
}

.amazingPeople .title hr {
	margin-top: 0;
	padding-top: 0;
}

.amazingPeople .title .name {
	margin-left: 5%;
	text-transform: uppercase;
}

.amazingPeople .title .profession {
	font-weight: 400;
}

.amazingPeople .description {
	font-weight: 400;
	margin-left: 10%;
	font-size: 1.6em;
	width: 40%;
	float: left;
}

.amazingPeople .links {
	float: right;
	width: 40%;
}

.bar {
	width: 80%;
	background-color: rgba(90,138,226,0.6);
	font-weight: 700; 
	font-size: 1.5em;
	padding-left: 0.5em;
}

.amazingPeople .links .icons {
	margin-top: 0.5em;
	margin-bottom: 1em;
	font-size: 1.7em;
	padding-left: 0.5em;
}

.amazingPeople .links .icons .icon{
	margin-right: 1em;
}

.projects .fp-tableCell {
	vertical-align: top;
}

.projects h1 img {
	float: left;
	width: 1em;
	margin-right: 0.5em;
}

.projects .logo {
	width: 30%;
	margin-left: 10%;
	padding-right: 10%;
	float: left;
}

.projects .logo img {
	width: 100%;
} 

.projects .info {
	width: 40%;
	float: left;
}   

.projects .info .title {
	text-transform: uppercase;
	font-weight: 400;
	width: 100%;
	margin: 0;
	padding: 0;
}  

.projects .info hr {
	padding: 0;
}

.projects .info .description {
	font-size: 2em;
}  

.projects .skills {
	width: 30%;
	float: left;
	margin-top: 1.8em;
}
.projects .skills .bar  {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 1.7em;
	padding-left: 0.5em;
}

.projects .skills .icons .icon{
	margin-right: 2em;
}

.univernContact .social {
	float: none;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-top: 20vh;
}

.univernContact .social.icons .fa {
	font-size: 8em;
	padding-left: 0
	padding-right: 1em;
}

.helpdesk h1 {
	margin-bottom: 1em;
}

.helpdesk .logo {
	width: 30%;
	height: 80%;
	float: left;
	margin-left: 5%;
	text-align: center;
}

.helpdesk .logo img {
	width: 60%;
}

.helpdesk .description {
	font-size: 1.5em;
	width: 80%;
	font-weight: 400;
}

.splash-screen.project-intro {
	padding-top: 10vh;
}

.splash-screen.project-intro .fa {
	color: rgb(201,0,0);
}

.splash-screen.project-intro .fa:hover {
	color: #fffff1;
	cursor: pointer;
}

.splash-screen.project-intro .baseline {
	padding-left: 0;
	font-weight: 400;
}

.splash-screen.project-intro .splash-screen.logo img {
	height: 100%;
}

.splash-screen.project-intro .splash-screen.logo-letters {
	padding-left: 0;
}

.splash-screen.project-intro .splash-screen.logo-letters h1 {
	margin-bottom: 0;
	margin-left: 0;
	font-size: 5em;
}

.project-image img {
	width: 200px;
}

/* Smartphones (portrait or landscape) ----------- */
@media screen and (max-device-width: 640px){
	body {
		font-size: 40px;
	}

	h1 {
		font-size: 3em;
		line-height: 2em;
		width: 80%;
	}

	h3 {
		margin-top: 0;
	}

	.fp-controlArrow {
		margin-top: 0;
	}

	.fp-controlArrow.fp-prev {
		border-width: 3em;
		left:0;
	}

	.fp-controlArrow.fp-next {
		border-width: 3em;
		right: 0;
	}

	.splash-screen .logo img {
		width: 60%;
	}


	.short-description-home {
		width: 40%;
		margin-top: 20%;
	}

	.short-description-home .text {
		font-size: 2em;
	}

	.explanation .logo-section {
		width: 100%;
		vertical-align: top;
	}

	.explanation .body {
		width: 80%;
		font-size: 1.6em;
	}

	.bckg-half .baseline {
		font-size: 3.3em;
	}

	.univernIntroduction h2 {
		font-size: 2.7em;
		margin-top: 10vh;
		text-align: left;
	}

	.univernIntroduction .logo {
		width: 100%;
	}

	.univernIntroduction .logo img {
		width: 40%;
	}

	.univernSkills .skill {
		width: 40%;
		height: 25%;
	}

	.univernSkills .logo {
		width: 50%;
	}

	.univernSkills .text {
		font-size: 2em;
	}

	.univernSkills .explanation-block {
		width: 45%;
		height: 28%;
	}

	.univernSkills .explanation-text {
		font-size: 1.6em;
	}

	.amazingPeople .description {
		font-size: 2em;
	}

	.bar {
		font-size: 2em;
	}

	.amazingPeople .links .icons {
		font-size: 2.5em;
		width: 80%;
	}

	.projects .info hr {
		display: none;
	}

	.projects .info .description{
		font-size: 3em;
	}

	.projects .skills {
		font-size: 1.5em;
	}

	.helpdesk .description {
		font-size: 2.5em;
	}
}

/* Smartphones (portrait) ----------- */
@media screen and (max-device-width: 480px) and (orientation: portrait){
	.bckg-half .logo {
		float: none;
		width: 30%;
		margin-right: auto;
		margin-left: auto;
	}

	.splash-screen {
		width: 90%
	}

	.splash-screen .logo img {
		width: 75%;
	}

	.splash-screen .baseline {
		font-size: 3em;
		width: 60%;
	}

	.splash-screen hr {
		margin-top: 2em;
	}

	.scroll-explanation {
		left: 40%;
	}

	.bckg-half .baseline {
		padding-top: 0;
		margin-right: auto;
		margin-left: auto;
		font-size: 3.3em;
		text-align: center;
	}

	.explanation .body {
		font-size: 2em;
	}

	.social.navbar {
		display: inline;
	}

	.social.icons {
		display: none;
	}

	.phone-social-header.social.icons {
		display: inline;
	}

	.amazingPeople .description {
		font-size: 2em;
		width: 70%;
		margin-left: 15%;
		float: none;
	}

	.amazingPeople h1 {
		font-size: 2.5em;
	}

	.amazingPeople .links {
		width: 80%;
		margin-left: 15%;
		float: none;
		margin-top: 10%;
	}

	.projects .logo {
		width: 100%;
		float: none;
		margin: 0;
		text-align: center;
	}

	.projects .logo img {
		width: 50%;
	}

	.projects .info {
		float: none;
		width: 80%;
		margin-left: 15%;
	}

	.projects .skills {
		float: none;
		width: 60%;
		margin-left: 15%;
	}

	.projects .info .title {
		margin-top: 1em;
	}


	.univernContact .social {
		width: 10%;
		text-align: center;
		margin: 1em auto 0 auto;;

	}

	.univernContact .social.icons {
		display: block;
	}

	.univernContact .social.icons .fa {
		margin-bottom: 2em;
		padding: 0;
		margin-left: 0;
	}

}

/* Smartphones (landscape) ----------- */
@media screen and (max-device-width: 640px) and (orientation: landscape){
	.header {
		height: 10vh;
	}

	.menu-title {
		font-size: 3vh;
		margin-top: 2.5vh;
	}

	.social .fa {
		font-size: 5vh;
		margin-top: 2.1vh;
	}

	.play-video {
		top: 40%;
		left: 40%;
	}

	.short-description-home {
		width: 30%;
		margin-top: 0;
	}

	.univernSkills .skill {
		margin-bottom: 0;
	}

	.univernSkills .explanation-text {
		margin: 2%;
	}

	.univernSkills .explanation-text p {
		margin-top: 0;
	}

	.splash-screen .logo img {
		width: 40%;
	}
}

/*  Tablets Portrait or Landscape */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
	.baseline {
		padding-right: 10%;
		font-size: 2.5em;
	}

	.short-description-home {
		width: 40%;
		margin-top: 20%;
	}

	.short-description-home .text {
		font-size: 2em;
	}

	.explanation .body {
		font-size: 1.3em;
	}
}

/*  Tablets Landscape */
@media screen and (max-device-width: 1024px) and (orientation: landscape){
	.short-description-home {
		width: 40%;
		margin-top: 0;
	}

	.bckg-half .baseline {
		width: 80%;
	}
}

/*  Tablets Portrait */
@media screen and (min-device-width: 768px) and (orientation: portrait){

	.splash-screen .logo img {
		width: 80%;
	}

	.splash-screen .baseline {
		width: 60%;
		font-size: 3em;
	}

	.bckg-half .logo {
		float: none;
		width: 30%;
		margin-right: auto;
		margin-left: auto;
	}

	.univernSkills .skill {
		width: 40%;
		height: 25%;
	}

	.univernSkills .logo {
		width: 50%;
	}

	.univernSkills .text {
		font-size: 2em;
	}

	.univernSkills .explanation-block {
		width: 45%;
		height: 28%;
	}

	.univernSkills .explanation-text {
		font-size: 1.6em;
	}

	.bckg-half .baseline {
		padding-top: 0;
		margin-right: auto;
		margin-left: auto;
		font-size: 3.3em;
		text-align: center;
	}

	.explanation .body {
		font-size: 2em;
	}

	.social.navbar {
		display: inline;
	}

	.social.icons {
		display: none;
	}

	.phone-social-header.social.icons {
		display: inline;
	}

	.amazingPeople .description {
		font-size: 2em;
		width: 70%;
		margin-left: 15%;
		float: none;
	}

	.amazingPeople h1 {
		font-size: 2.5em;
	}

	.amazingPeople .links {
		width: 80%;
		margin-left: 15%;
		float: none;
		margin-top: 10%;
	}

	.projects .logo {
		width: 100%;
		float: none;
		margin: 0;
		text-align: center;
	}

	.projects .logo img {
		width: 50%;
	}

	.projects .info {
		float: none;
		width: 80%;
		margin-left: 15%;
	}

	.projects .skills {
		float: none;
		width: 60%;
		margin-left: 15%;
	}

	.projects .info .title {
		margin-top: 1em;
	}


	.univernContact .social {
		width: 10%;
		text-align: center;
		margin: 1em auto 0 auto;;

	}

	.univernContact .social.icons {
		display: block;
	}

	.univernContact .social.icons .fa {
		margin-bottom: 2em;
		padding: 0;
		margin-left: 0;
	}

	.helpdesk .description {
		font-size: 2.5em;
	}
}