<template name="amazingPeople">
	<div class="bckg-full">
		{{#each person}}
				<div class="slide amazingPeople person-{{_id}}" id="person-{{_id}}">
					<h1>I work with amazing people</h1>
					<div class="title">
						<h3><span class="name">{{name}}</span>, <span class="profession">{{proffesion}}</span></h3>
						<hr />
					</div>
					<div class="description">{{{body}}}</div>
					<div class="links">
						<div class="univerships">
							<div class="bar">UNIVERSHIPS</div>
							<div class="icons">
								{{#each getProjects}}
									<a href="/projects/{{this}}" target="blank"><img src="{{getProjectLogo}}" /></a>
								{{/each}}
							</div>
						</div>
						<div class="skills">
							<div class="bar">SKILLS</div>
							<div class="icons">
								{{#each getProjects}}
									{{#each getSkills}}
										{{#if notAdded}}
											<img src="{{getSkillLogo}}" />
										{{/if}}
									{{/each}}
								{{/each}}
							</div>
						</div>
						<div class="contact">
							<div class="bar">CONTACT</div>
							<div class="icons">
								{{#if contact.email}}
									<a href="mailto:{{contact.email}}" target="_blank" class="icon"><i class="fa fa-envelope"></i></a>
								{{/if}}
								{{#if contact.facebook}}
									<a href="{{contact.facebook}}"  target="_blank" class="icon"><i class="fa fa-facebook"></i></a>
								{{/if}}
								{{#if contact.twitter}}
									<a href="{{contact.twitter}}"  target="_blank" ><i class="fa fa-twitter"></i></a>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
				{{setBackground}}
				{{restartFullPageJS}}
		{{/each}}
	</div>
</template>