<template name="groupProjects">
	<div class="bckg-full">
		<h1><img src="/general_logos/group_projects.svg" />GROUP PROJECTS</h1>
		{{#each getGroupProjects}}
			<div class="slide">
				<div class='logo'>
					<a href="{{pathFor 'projectPage' this._id}}" class="actionBtn"><img src="{{getProjectLogo}}" /></a>
				</div>
				<a href="{{pathFor 'projectPage' this._id}}" class="actionBtn">
					<div class="info">
						<h1 class="title">{{this.title}}</h1>
						<hr/>
						<div class="description">{{{this.body}}}</div>
					</div>
				</a>
				<div class="skills">
					<div class="bar">SKILLS</div>
					<div class="icons">
						{{#each getSkills}}
							<span class="icon"><img src="{{getSkillLogo}}" /></span>
						{{/each}}
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</template>

<template name="placements">
	<div class="bckg-full">
		<h1><img src="/general_logos/placements.svg" />Placements</h1>
		{{#each getPlacements}}
			<div class="slide">
				<div class='logo'>
					<a href="{{pathFor 'projectPage' this._id}}" class="actionBtn"><img src="{{getProjectLogo}}" /></a>
				</div>
				<a href="{{pathFor 'projectPage' this._id}}" class="actionBtn">
					<div class="info">
						<h1 class="title">{{this.title}}</h1>
						<hr/>
						<div class="description">{{{this.body}}}</div>
					</div>
				</a>
				<div class="skills">
					<div class="bar">SKILLS</div>
					<div class="icons">
						{{#each getSkills}}
							<span class="icon"><img src="{{getSkillLogo}}" /></span>
						{{/each}}
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</template>


<template name="individualProjects">
	<div class="bckg-full">
		<h1><img src="/general_logos/individual_projects.svg" />Individual Projects</h1>
		{{#each individualProjects}}
			<div class="slide">
				<div class='logo'>
					<a href="{{pathFor 'projectPage' this._id}}" class="actionBtn"><img src="{{getProjectLogo}}" /></a>
				</div>
				<a href="{{pathFor 'projectPage' this._id}}" class="actionBtn">
					<div class="info">
						<h1 class="title">{{this.title}}</h1>
						<hr/>
						<div class="description">{{{this.body}}}</div>
					</div>
				</a>
				<div class="skills">
					<div class="bar">SKILLS</div>
					<div class="icons">
						{{#each getSkills}}
							<span class="icon"><img src="{{getSkillLogo}}" /></span>
						{{/each}}
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</template>