<template name="univernPage">
	<div class="univernPage">
		<div class="section">
			<div class="slide gray-wavy centered">
				{{> univernIntroduction}}
			</div>
			{{> univernIntroductionText}}
		</div>
		<div class="section black-wavy univern-skills">
			{{> univernSkills}}
		</div>
		<div class="section">
			{{> amazingPeople}}
		</div>
		<div class="section green-wavy projects">
			{{> groupProjects}}
		</div>
		<div class="section blue-wavy projects">
			{{> placements}}
		</div>
		<div class="section red-wavy projects">
			{{> individualProjects}}
		</div>
		<div class="section contact black-wavy">
			{{> contact}}
		</div>
	</div>
</template>