<template name="univernIntroduction">
	<table class="bckg-full blue-wavy univernIntroduction">
		<tr><td><h1>I'M GEORGE & I'M A UNIVERN.</h1></td></tr>
		<tr><td><div class="logo"><img src="/general_logos/lab_rat.svg" alt="The first Univern" /></div></td></tr>
		<tr><td><h1>I AM THE UNIVERSHIP'S LAB RAT.</h1></td></tr>
	</table>
</template>

<template name="univernIntroductionText">
	<div class="bckg-full blue-wavy univernIntroduction">
		<h1>I'M GEORGE & I'M A UNIVERN.</h1>
		{{{univernIntro}}}
	</div>
</template>