<template name="univernSkills">
	<div class="bckg-full green-wavy">
		<h1>I WANT TO LEARN:</h1>
		<table class="univernSkills">
			<tr>
				<td class="skill">
					<img class="logo" src="/general_logos/user_centered_design.svg" />
					<div class="text">User-centered<br/>design</div>
					<div class="explanation">
						
					</div>
				</td>
				<td class="skill">
					<img class="logo" src="/general_logos/physical_object_design.svg" />
					<div class="text">Physical object<br/>design</div>
				</td>
				<td class="skill">
					<img class="logo" src="/general_logos/entrepreneurship.svg" />
					<div class="text">Entrepreneurship<br/>&nbsp;</div>
				</td>
			</tr>
			<tr>
				<td class="skill">
					<img class="logo" src="/general_logos/coding.svg" />
					<div class="text">Coding<br/>(electronics & web)</div>
				</td>
				<td class="skill">
					><img class="logo" src="/general_logos/graphic_design.svg" />
					<div class="text">Graphic<br/>design</div>
				</td>
				<td class="skill">
					<img class="logo" src="/general_logos/communication.svg" />
					<div class="text">Communication<br/>&nbsp;</div>
				</td>
			</tr>
		</table>
	</div>
</template>