<template name="univernIntroduction">
	<table class="bckg-full gray-wavy univernIntroduction">
		<tr><td><h1>I'M GEORGE & I'M A UNIVERN.</h1></td></tr>
		<tr><td><div class="logo"><img src="/general_logos/lab_rat.svg" alt="The first Univern" /></div></td></tr>
		<tr><td><h1>I AM THE UNIVERSHIP'S LAB RAT.</h1></td></tr>
	</table>
	<div class="arrow-next-black"></div>	
</template>

<template name="univernIntroductionText">
	<div class="slide">
		<div class="bckg-full gray-wavy univernIntroduction">
			<h1>At first, I was confused.</h1>
			<h2>I was confused. I didn't know what I wanted to do. I had completed a Master's degree in Electronic Engineering. I had lived in Athens, London and Paris. I had worked as a Market Analyst. Then as a Project Manager helping organisations innovate.</h2>
		</div>
		<div class="fp-controlArrow fp-next"></div>
	</div>
	<div class="slide">
		<div class="bckg-full gray-wavy univernIntroduction">
			<h1>I wanted to learn & to create.</h1>
			<h2>When I heard about "Design" I thought that I had finally found IT. A new way of thinking, a collection of many different knowledge domains, a profoundly creative working process. So I applied to schools. And I was accepted. And then I realised it was way too expensive for what was in offer. The freedom was limited, the people to meet were restricted to the schools contacts or philosophy, the number of skills to attain couldn't satisfy my appettite.</h2>
		</div>
	</div>
	<div class="slide">
		<div class="bckg-full gray-wavy univernIntroduction">
			<h1>So I became a univern</h1>
			<h2>I decided to join the Univern program as a beta-tester. I want to learn more in the following six domains: Graphic, Physical Object & User-Centered Design as well as Entrepreneurship, Coding & Communication.</h2>
		</div>
	</div>
	<div class="slide">
		<div class="bckg-full gray-wavy univernIntroduction">
			<h1>I already know...</h1>
			<h2>I already have a strong coding background, a not-too-bad understanding of aesthetic rules, project management experience & an analytical mind.</h2>
		</div>
	</div>
	<div class="slide">
		<div class="bckg-full gray-wavy univernIntroduction">
			<h1>I want placements</h1>
			<h2>I have defined most of my Individual & Group projects. That leaves me with placements. If you have one of the obove skills and would like to work with me for 3-4 weeks, please tell me! Check out what I'm doing and if you like it, contact me.</h2>
		</div>
	</div>
	<div class="slide">
		<div class="bckg-full gray-wavy univernIntroduction">
			<h1>Thank you for helping!</h1>
			<h2>And believing that a different education model is possible...</h2>
		</div>
	</div>
</template>