<template name="explanationHome">
	<table class="bckg-full black-wavy explanation">
		<tr>
			<td class="title"><h1>HOW?</h1></td>
		</tr>
		<tr>
			<td class="logo-section"><img class="top" src="/general_logos/logo_top.svg" /></td>
			<td class="description">
				<h3 clss="title">GROUP</h3>
				<hr/>
				<div class="body">Within 2-3 months you do a Group Project in which you try to launch a new product or service in a new country.</div>
			</td>
		</tr>
		<tr>
			<td class="logo-section"><img class="middle" src="/general_logos/logo_middle.svg" /></td>
			<td class="description">
				<h3 clss="title">PLACEMENT</h3>
				<hr/>
				<div class="body">At the same time, you do a 3-4 week placement in an organisation to learn FROM others and in exchange you offer them the skills you have already attained.</div>
			</td>
		</tr>
		<tr>
			<td class="logo-section"><img class="bottom" src="/general_logos/logo_bottom.svg" /></td>
			<td class="description">
				<h3 clss="title">INDIVIDUAL</h3>
				<hr/>
				<div class="body">Every week you choose a small thing you want to learn & you just do it.</div>
			</td>
		</tr>
	</table>
</template>