<template name="firstUnivernHomeBtn">
	<a href="{{pathFor 'univernPage' _id=georgeID}}" class="grey-wavy">
		<div class="logo"><img src="/general_logos/lab_rat.svg" alt="The first Univern" /></div>
		<div class="baseline">CHECK OUT HOW THE 1ST UNIVERN IS DOING.</div>
	</a>
</template>

<template name="participateHomeBtn">
	<a href="{{pathFor 'helpdesk'}}"  class="grey-wavy">
		<div class="logo"><img src="/general_logos/want_in.svg" alt="Want in?" /></div>
		<div class="baseline">YOU WANT IN...?</div>
	</a>
</template>