<template name="firstUnivernHome">
	<a href="{{pathFor 'univernPage' _id=george._id}}" class="actionBtn">
		<div href="{{pathFor 'univernPage' _id=george._id}}" class="bckg-half blue-wavy">
			<div class="logo"><img src="/general_logos/lab_rat.svg" alt="The first Univern" /></div>
			<div class="baseline">CHECK OUT HOW THE 1ST UNIVERN IS DOING.</div>
		</div>
	</a>
</template>

<template name="participateHome" class="actionBtn">
	<a href="#" class="actionBtn">
		<div class="bckg-half green-wavy">
			<div class="logo"><img src="/general_logos/want_in.svg" alt="Want in?" /></div>
			<div class="baseline">YOU WANT IN...?</div>
		</div>
	</a>
</template>