<template name="firstUnivernHome">
	<table class="bckg-half left blue-wavy">
		<tr>
			<td class="logo"><img src="/general_logos/lab_rat.svg" alt="The first Univern" /></td>
		</tr>
		<tr>
			<td class="baseline"><div>CHECK OUT HOW THE 1ST UNIVERN IS DOING.</div></td>
		</tr>
	</table>
</template>

<template name="participateHome">
	<table class="bckg-half right green-wavy">
		<tr>
			<td class="logo"><img src="/general_logos/want_in.svg" alt="Want in?" /></td>
		</tr>
		<tr>
			<td class="baseline">YOU WANT IN...?</td>
		</tr>
	</table>
</template>