<template name="shortDescriptionHome">
	<div class="bckg-full blue-wavy">
		<h1 class="short-description">A ONE YEAR  PROGRAM TO LEARN, MEET AMAZING PEOPLE AND GAIN PRACTICAL EXPERIENCE ON A GLOBAL SCALE.</h1>
		<table class="short-description-home">
			<tr>
				<td class="icon"><i class="fa fa-puzzle-piece"></i></td>
				<td class="text"><div>You choose<br/>your skills.</div></td></tr>
			<tr><td colspan="2"><hr class="line"/></td></tr>
			<tr>
				<td class="icon"><i class="fa fa-line-chart"></i></td>
				<td td class="text"><div>You develop them<br/>in the real world.</div></td>
			</tr>
			<tr><td colspan="2"><hr class="line"/></td></tr>
			<tr>
				<td class="icon"><i class="fa fa-share-alt"></i></td>
				<td td class="text"><div>You share everything<br/>with the rest of us.</div></td>
			</tr>
		</table>
		<div class="arrow-down"></div>
	</div>
</template>