<template name="videoHome">
	<div class="bckg-full video">
		<h1 class="short-description">A ONE YEAR  PROGRAM TO LEARN, MEET AMAZING PEOPLE AND GAIN PRACTICAL EXPERIENCE ON A GLOBAL SCALE.</h1>
		<a href="https://www.youtube.com/watch?v=bgW5Snd-CFM" class="play-video"><i class="fa fa-youtube-play"></i></a>
		<table class="short-description-home">
			<tr>
				<td class="text"><div>You choose<br/>your skills.</div></td></tr>
			<tr>
				<td><hr class="line"/></td>
			</tr>
			<tr>
				<td class="text"><div>You develop them<br/>in the real world.</div></td>
			</tr>
			<tr>
				<td><hr class="line"/></td>
			</tr>
			<tr>
				<td td class="text"><div>You share everything<br/>with the rest of us.</div></td>
			</tr>
		</table>
	</div>
</template>