<template name="videoUploadUnivern">
	<!-- Modal for image upload -->
	<div class="modal fade" id="video-upload-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel"><i class="fa fa-cloud-upload"></i> Video Upload</h4>
				</div>
				<div class="modal-body">
					<div class="input-group">
					  <input type="text" class="form-control" placeholder="youtube video link" aria-describedby="basic-addon2" id="url">
					  <span class="input-group-addon" id="basic-addon2">only youtube is currently supported</span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="save" disabled>Save changes</button>
				</div>
			</div>
		</div>
	</div>
</template>