<template name="helpdesk">
	<div class="section">
		<div class="bckg-full red-wavy helpdesk">
			<h1>You won't find a helpdesk here...</h1>
			<div class="logo"><img src="/general_logos/helpdesk.svg" /></div>
			<div class="description">
				Unfortunately, our only Univern for this year is George.
				<br/><br/>
				We are testing on him this novel educational concept. 
				<br/><br/>
				You are of course welcome to try it for yourselves! 
				<br/><br/>
				Just drop George an email, facebook or tweet him & he'll help you !
			</div>
		</div> 
	</div>
</template>