<template name="locationEdit">
	<div class="bckg-full black-wavy">
		<h1>Adding a location</h1>
		<form class="form">
			<div class="form-group">
				<label class="control-label" for="city">City</label>
				<div class="controls">
	                <input name="city" class="form-control input-lg" type="text" value="" placeholder="City"/>
	            </div>
			</div>
			<div class="form-group">
				<label class="control-label" for="country">Country</label>
				<div class="controls">
	                <input name="country" class="form-control input-lg" type="text" value="" placeholder="Country"/>
	            </div>
			</div>
			<div>_____________________________________________________________</div>	   
			<input class="btn btn-block btn-primary submit" type="button" id="save" value="Save"/>
			<div>_____________________________________________________________</div>
		</form>
	</div>
</template>