<template name="peopleAdd">
	<div class="bckg-full black-wavy">
		<h1>Adding an amazing person</h1>
			<form>
			<div class="form-group">
				<label class="control-label" for="title">Person's Name</label>
				<div class="controls">
	                <input name="name" class="form-control input-lg" type="text" value="" placeholder="Name & surname"/>
	            </div>
			</div>
			<div>_____________________________________________________________</div>			
			<input class="btn btn-block btn-primary submit" type="submit" id="create" value="Add"/>
			<div>_____________________________________________________________</div>
		</form>
	</div>
</template>