<template name="projectAdd">
	<div class="bckg-full black-wavy">
		<h1>Creating a project</h1>
			<form>
			<div class="form-group">
				<label class="control-label" for="title">Project name</label>
				<div class="controls">
	                <input name="title" class="form-control input-lg" type="text" value="" placeholder="Project name"/>
	            </div>
			</div>
			<div>_____________________________________________________________</div>			
			<input class="btn btn-block btn-primary submit" type="submit" id="create" value="Create"/>
			<div>_____________________________________________________________</div>
		</form>
	</div>
</template>