<template name="carouselTopProject">
	<div id="project-carousel" class="carousel slide" data-ride="carousel" data-interval="false">

		<!-- Images & videos -->
		<div class="carousel-inner">
			{{#each getMedia}}
				{{> singleCarouselPhoto}}
			{{/each}}
			<a class="carousel-control left" href="#project-carousel" data-slide="prev">‹</a>
			<a class="carousel-control right" href="#project-carousel" data-slide="next">›</a>
		</div>

		<div class="col-md-12 hidden-sm hidden-xs text-center" id="slider-thumbs">
			<ul class="list-inline">
				{{#each getMedia}}
					{{ > carouselThumbnails}}
				{{/each}}
			</ul>
		</div>

	</div>
</template>
