<div class="container">
	<div class="embed-responsive embed-responsive-16by9">
	  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/133694644"></iframe>
	</div>
	<br/>
	<div class="text-center">
		<h1 class="home-header">DEVELOPPING THE SKILLS</h1>
		<hr />
		<div class="col-xs-4 home-section">
			<img src="assets/logos/designskill.svg" />
			<h2>design</h2>
		</div>
		<div class="col-xs-4 home-section">
			<img src="assets/logos/codingskill.svg" />
			<h2>coding</h2>
		</div>
		<div class="col-xs-4 home-section">
			<img src="assets/logos/businessskill.svg" />
			<h2>business</h2>
		</div>
	</div>

	<div class="text-center blue home-section">
		<h1>PLACEMENTS</h1>
		<hr class="blue" />
		<div class="placement-project"></div>
	</div>

	<div class="text-center green home-section">
		<h1 class="home-header">GROUP PROJECTS</h1>
		<hr class="green" />
		<div class="group-project"></div>
	</div>

	<div class="text-center red home-section">
		<h1 class="home-header">INDIVIDUAL PROJECTS</h1>
		<hr class="red" />
		<div class="individual-project"></div>
	</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55679725-1', 'auto');
  ga('send', 'pageview');

</script>