<div class="jumbotron project-intro full-width-image white" style="background: url(<%= project.get('photo') %>) no-repeat center center fixed; ">
	<div class="container text-center">
		<img class="jumbotron-project-logo" src="<%= project.get('logo') %>" alt="<%= project.get('title') %>" />
	 	<h1><%= project.get('title') %></h1>
		<p><%= project.get('abstract') %></p>
	</div>
	<div class="text-center">
		<% switch(project.get('skills').length) {  
			case 3:
		%>
				<div class="col-xs-6 col-md-9"></div>
				<%
				break;
			case 2:
		%>
			<div class="col-xs-8 col-md-10"></div>
				<%
				break;
			case 1:
		%>
			<div class="col-xs-10 col-md-11"></div>
				<%
				break;
			}
		%>

		<% if (project.get('skills').indexOf('design') != -1) {  %>
		<div class="col-xs-2 col-md-1">
			<img src="assets/logos/designskill-small.svg" />
			<p class="small">design</p>
		</div>
		<% }
			if (project.get('skills').indexOf('coding') != -1) {
		%>
		<div class="col-xs-2 col-md-1">
			<img src="assets/logos/codingskill-small.svg" />
			<p class="small">coding</p>
		</div>
		<% }
			if (project.get('skills').indexOf('business') != -1) {
		%>
		<div class="col-xs-2 col-md-1">
			<img src="assets/logos/businessskill-small.svg" />
			<p class="small">business</p></div>
		</div>
		<% } %>
	<br/>
	</div>
</div>
<% if (project.get('blogContent')) {  %>
	<%= project.get('blogContent') %>
<% } %>
<div class="container">
	<% if (project.get('video') && !project.get('blogContent')) {  %>
	<div class="embed-responsive embed-responsive-16by9">
	  <iframe class="embed-responsive-item" src="<%= project.get('video') %>"></iframe>
	</div>
	<% } %>
	<div class="row row-centered">
		<% if (project.get('fileLink')) {  %>
	    <div class="col-xs-2 col-centered">
	    	<a class="text-center" href="<%= project.get('fileLink') %>" target="_blank">
	    		<h1>
	    			<i class="fa fa-folder-open-o"></i>
	    		</h1>
	    		<p>View the files</p>
	    	</a>
		</div>
		<% } if (project.get('githubLink')) {  %>
	    <div class="col-xs-2 col-centered">
	    	<a class="text-center" href="<%= project.get('githubLink') %>" target="_blank">
	    		<h1>
	    			<i class="fa fa-github"></i>
	    		</h1>
	    		<p>Use the code</p>
	    	</a>
		</div>
		<% } if (project.get('externalLink')) {  %>
	    <div class="col-xs-2 col-centered">
	    	<a class="text-center" href="<%= project.get('externalLink') %>" target="_blank">
	    		<h1>
	    			<i class="fa fa-external-link"></i>
	    		</h1>
	    		<p>View the site</p>
	    	</a>
		</div>
		<% } %>
	</div>
	<br/>
</div>
